#contact {
  min-height: 100vh;
  position: relative;
  ion-icon {
    font-size: 3rem;
  }
  .info {
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .phone,
  .email,
  .address {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content:flex-start ;

    p {
      margin: auto;
      
    }
  }
  .email{
    margin: 2rem 0;
  }
  .map {
    height: 70vh;
    width: 100%;
  }
}