#media {
  min-height: 80vh;
  position: relative;
  display: flex;
  padding-bottom: 5rem;
  .bg-media {
    background-image: url("/photos/media.jpeg");
    background-size: cover;
    background-position: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    filter: brightness(0.5);
  }
  .media-wrapper {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    text-align: center;
  }
  .media-image {
    border-radius: 50%;
    background-color: gray;
    height: 50px;
    width: 50px;
  }
  .media-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    position: relative;
    padding-bottom: 5rem;
    margin: 8rem 0;
    color: white;
    p {
      line-height: 1.5;
    }
    h2 {
      margin: 1.5rem 0rem;
    }
    button {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      border: none;
      padding: 1rem 1.5rem;
      background-color: #f2f2f2;
      cursor: pointer;
    }
  }

  .heading-contact {
    color: white;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
    line-height: 0.65;
  }
}
